@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

:root {
    --black: #272727;
  }

body {
    font-family: 'Inconsolata', monospace;
    font-size: 10px;
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-areas: "menu content";
    grid-template-columns:1fr 6fr;
    height: 100vh;
}

.menu {
    grid-template-rows: 1fr 1fr 3fr;
    grid-template-areas: "header1 header2 list";
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu a {
    display: block;
    text-decoration: none;
  }

.header_main {
    font-weight: bold;
    font-size: 4em;
}

.header_secondary {
    font-weight: normal;
    font-size: 2em;
}

.main {
    background-image: url(./toronto_outline_animated.svg);
    background-size: cover;
    padding: 0;
    padding-bottom: calc(100% * 3/4);
    width: 100%;
}


.cv_main {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: "categories dates";
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));

    /* grid-template-rows: repeat(auto-fit, minmax(100px, 1fr)); */
}

.cv_contents {
    grid-area: categories;
}

.cv_dates {
    grid-area: dates;
}

ul li {
    font-size: 1.5em;
}